tensorflow
numpy
scikit-learn
Pillow
keras
python-multipart
fastapi
uvicorn
pydantic
psycopg2-binary
pytest
pytest-asyncio
httpx
opencv-python-headless
beautifulsoup4
fastembed
pypdf
openai
qdrant-client
dotenv
pymongo
pyjwt
requests
bcrypt
sentence-transformers
pandas
tqdm
seaborn
albumentations