tensorflow
numpy
opencv-python
scikit-learn
matplotlib
Pillow
keras
python-multipart
fastapi
uvicorn
pydantic
psycopg2-binary
pytest
pytest-asyncio
httpx
opencv-python-headless
beautifulsoup4
fastembed
ollama
pypdf
openai
qdrant-client
dotenv